{% extends "base_list.html" %}

{% block title %}
  Lista de Ingredientes {{ super() }}
{% endblock  %}

{% block page_title %}

  <h1 class="text-primary">Lista de Ingredientes</h1>

{% endblock %}

    {% block table_head %}
      <tr>
          <th>Nombre<i class="fa fa-sort" aria-hidden="true"></i></th>
          <th>Descripción</th>
          <th>Acciones</th>
      </tr>
    {% endblock table_head %}

    {% block table_body %}

       {% for ingrediente in ingredientes %}
          <tr>
             <td>
                <a href="{{ url_for('recetario.ConsultarIngrediente', id=ingrediente.id) }}">
                {{ ingrediente.nombre }}</a>
             </td>
             <td>
               <p>{{ ingrediente.descripcion }}</p>
             </td>
             <td>
               <a href="{{ url_for('recetario.ConsultarIngrediente', id=ingrediente.id) }}" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
               <a href="{{ url_for('recetario.EditarIngrediente', id=ingrediente.id) }}" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
               <a href="{{ url_for('recetario.EliminarIngrediente', id=ingrediente.id) }}" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
             </td>
           </tr>
      {% endfor %}   
    {% endblock table_body %}

    {% block others %}
      <div class="col-sm-4">
        <a class="btn btn-primary" href="{{ url_for('recetario.CrearIngrediente') }}" >Nuevo</a>
      </div>
    {% endblock  %}

   

