{% extends "base.html" %}

{% block title %}
  {{ accion }} Receta {{ super() }}
{% endblock  %}

{% block page_title %}

  <h2 class="text-primary">{{ accion }} Receta</h2>

{% endblock %}

{% block content %}

  {% if accion == "Consultar" %}
    <form id="form_receta" method="GET"> 
      <fieldset disabled>
  {% elif accion == "Crear" %}
    <form id="form_receta" action="{{ url_for('recetario.crear_receta') }}" method="POST" novalidate> 
      <fieldset enabled>
  {% else %}
    <form id="form_receta" action="{{ url_for('recetario.editar_receta', id=receta.id) }}" method="POST" novalidate> 
      <fieldset enabled>
  {% endif %}
        <div class="border border m-3 p-2">
          <div class="row">
            <label for="nombre" class="col-sm-2 col-form-label">Título</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="titulo" name="titulo" maxlength=50 required
              value={% if accion != "Crear" %} "{{ receta.titulo }}" {% endif %}>
            </div>
          </div>
          <div class="row mt-2">
            <label for="categoria_id" class="col-sm-2 col-form-label">Categoría</label>
            <div class="col-sm-4">
              <select class="form-select" aria-label="Default select example" id="categoria_id" name="categoria_id" required>
                {% for categoria in categorias  %}
                    <option value="{{ categoria.id }}" {% if categoria.id==receta.categoria_id  %}selected{% endif %}>
                    {{ categoria.nombre }}</option>
                {% endfor %}
              </select>
            </div>
            <label for="precio_venta" class="col-sm-2 col-form-label">Precio de Venta</label>
            <div class="col-sm-4">
              <input type="numeric" step="0.01" class="form-control text-right" id="precio_venta" name="precio_venta"
              value={% if accion != "Crear" %} "{{ receta.precio_venta }}" {% endif %} {% if accion == "Consultar" %} disabled {% endif %}>
            </div>
          </div>
        </div>
      
        {% include "recetario/receta_tab.html" %}

      </fieldset>
      <footer>
        <div class="d-flex flex-row justify-content-between">
          <div class="p-2">
            <a class="btn btn-primary" href="{{ url_for('recetario.listar_recetas') }}" >Volver a la lista</a>
          </div>    
          {% if accion != "Consultar"  %}
            <div class="p-2">
              <a class="btn btn-primary" href="{{ url_for('recetario.crear_ingrediente_receta', id_rec=receta.id) }}" >Agregar ingrediente</a>
            </div> 
            <div class="p-2">
              <button type="Submit" form="form_receta" class="btn btn-primary">Validar</button>
            </div>
          {% endif %}        
        </div>
      </footer>

    </form>
       
{% endblock %}

    
      
   
