{% extends "base.html" %}

{% block title %}
  {{ accion }} Receta {{ super() }}
{% endblock  %}

{% block page_title %}

  <h2 class="text-primary">{{ accion }} Receta</h2>

{% endblock %}

{% block content %}

  {% if accion == "Consultar" %}
    <form id="form_receta" method="GET"> 
      <fieldset disabled>
  {% elif accion == "Crear" %}
    <form id="form_receta" action="{{ url_for('recetario.tratar_receta') }}" method="POST" novalidate> 
      <fieldset enabled>
  {% else %}
    <form id="form_receta" action="{{ url_for('recetario.tratar_receta', id=receta.id) }}" method="POST" novalidate> 
      <fieldset enabled>
  {% endif %}
      
        <div class="border border m-3 p-2">
          <div class="row">
            <div class="col-sm-8">
              <label class="col-form-label" for="titulo">Título</label>
              <input class="form-control" type="text" name="titulo" id="titulo" value="{{ receta.titulo }}" required>
            </div>
            <div class="col-sm-4">
              <label class="col-form-label" for="titulo">Categoría</label>
              <select class="form-select" id="categoria_id" name="categoria_id" required>
                {% for categoria in categorias  %}
                    <option value="{{ categoria.id }}" {% if categoria.id==receta.categoria_id  %}selected{% endif %}>
                    {{ categoria.nombre }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <label for="costo" class="col-form-label">Costo</label>
              <div class="input-group">
                <input class="form-control" type="number" name="costo" id="costo" step="0.01" 
                value={% if accion != "Crear" %} "{{ receta.costo }}" {% else %} "0" {% endif %} readonly>
                <span class="input-group-text">$</span>
              </div>
            </div>
            <div class="col-sm-4">
              <label for="ganancia" class="col-form-label">Ganancia</label>
              <div class="input-group">
                <input class="form-control" type ="number" name="ganancia" id="ganancia" step="0.01" min="0" max="100" 
                value={% if accion != "Crear" %} "{{ receta.ganancia }}" {% else %} "0" {% endif %}>
                <span class="input-group-text">%</span>
              </div>
            </div>
            <div class="col-sm-4">
              <label for="precio" class="col-form-label">Precio</label>
              <div class="input-group">
                <input class="form-control" type="number" name="precio" id="precio" step="0.01" value="{{ precio }}" readonly>
                <span class="input-group-text">$</span>
              </div>
            </div>
          </div>
        </div>

        {% include "recetario/receta_tab.html" %}
      </fieldset>
      
        <footer>
          <div class="d-flex flex-row justify-content-between">
            <div class="p-2">
              <a class="btn btn-primary" href="{{ url_for('recetario.listar_recetas') }}" >Volver a la lista</a>
            </div>
            {% if accion != "Consultar"  %}
              {% if accion == "Editar"  %}
                <div class="p-2">
                  <a class="btn btn-primary" href="{{ url_for('recetario.tratar_ingrediente_receta', id_rec=receta.id) }}" >Agregar ingrediente</a>
                </div> 
              {% endif %} 
              <div class="p-2">
                <button type="Submit" form="form_receta" class="btn btn-primary">Validar</button>
              </div>
            {% endif %}     
          </div> 
        </footer>
    </form>
       
{% endblock %}

    
      
   
