{% extends "base.html" %}

{% block title %}
  Contacto {{ super() }}
{% endblock  %}

{% block css  %}
  <script src="https://kit.fontawesome.com/d969780632.js" crossorigin="anonymous"></script>
{% endblock  %}

{% block page_title %}

  <h2 class="text-primary">Contacto</h2>

{% endblock %}

{% block content %}

  <h4>Sígueme en mis Redes Sociales:</h4>

  <br><br>

  <div class="row">
      
      <div class="col-md-2">
          <a href="https://github.com/dchaconoca" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-github display-4"></i></a>
      </div>

      <div class="col-md-2">
          <a href="https://www.linkedin.com/in/dchaconoca/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-linkedin-in display-4"></i></a>
      </div>

      <div class="col-md-2">
          <a href="https://twitter.com/dchaconoca" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-twitter display-4"></i></a>
      </div>    
  </div>
       
{% endblock %}

    
      
   
