{% extends "base.html" %}

{% block title %}
  Home {{ super() }}
{% endblock  %}

{% block page_title %}

  <h2 class="text-primary">Bienvenidos al Recetario de Cocina</h2>

{% endblock %}

{% block content %}
    <p>
      Cuando fui a abrir mi restaurant, como todo el mundo que comienza un negocio, me preguntaba cuánto cobrar.
    </p>

    <p>
      Para eso, me hice en esa época (2009) una pequeña aplicación con Access, donde administraba ingredientes, precios, recetas... Y así calculaba costos y precios.
    </p>

    <p>
      Ahora construyo de nuevo la aplicación como un ejercicio de Python.
    </p>

    <p>
      Esta aplicación permite la gestión de recetas de cocina y consta de 2 partes:
    </p>

    <ol>
      <li> 
        <strong>Referencial: </strong> Permite administrar las <strong>Categorías</strong> de recetas
        y las <strong>Unidades de Medidas</strong> de los ingredientes.
      </li>

      <li>
        <strong>Recetario: </strong> Permite administrar las <strong>Recetas</strong> y los <strong>Ingredientes</strong>.  
        También calcula de manera automática el precio de la receta en función de los ingredientes.    
      </li>
    </ol>

    <p>
      El proyecto utiliza: <strong>Flask, MySQL, SQLAlchemy, Jinja, Bootstrap</strong>.
      También me ha permitido estudiar los <strong>ORM</strong> y el modelo <strong>MVC</strong>.
    </p>

    <div class="d-flex justify-content-center">
      <img src="{{ url_for('static', filename='/img/modelo-er.png') }}" alt="Modelo Entidad-Relación de la aplicación">
    </div>

    <p>
      Haz <mark>Click</mark> en la opción que desees del menú de la izquierda.
    </p>
       
{% endblock %}

    
      
   
