{% extends "base.html" %}

{% block title %}
  Contacto {{ super() }}
{% endblock  %}

{% block page_title %}

  <h2 class="text-primary">¿Quién Soy?</h2>

{% endblock %}

{% block content %}

    <h4>Soy Diana</h4>
    <p>
        Ingeniero en Informática Aplicada a la Gestión de Empresas.
    </p>

    <p>
      Luego de un paréntesis, estoy retomando la programación aprendiendo <mark>Python</mark>,
      <mark>HTML</mark>, <mark>CSS</mark>, <mark>Bootstrap</mark> y tecnologías como los <mark>ORM</mark>.
    </p>

    <p>
        Haz <mark>Click</mark> en la opción que desees del menú de la izquierda.
    </p>
       
{% endblock %}

    
      
   
