{% extends "base.html" %}

{% block title %}
  Contacto {{ super() }}
{% endblock  %}

{% block page_title %}

  <h2 class="text-primary">¿Quién Soy?</h2>

{% endblock %}

{% block content %}

    <h4>Soy Diana</h4>
    <p>
        Ingeniero en Informática Aplicada a la Gestión de Empresas.
    </p>

    <p>
      Luego de un paréntesis de 9 años en los que me dediqué a crear y administrar mi propio restaurant, 
      estoy retomando la programación aprendiendo <strong>Python</strong>,
      <strong>Django</strong>, <strong>Flask</strong>, <strong>Javascript</strong>, <strong>VueJS</strong>,
      <strong>HTML</strong>, <strong>CSS</strong>...
    </p>

    <p>
        Haz <mark>Click</mark> en la opción que desees del menú de la izquierda.
    </p>
       
{% endblock %}

    
      
   
