{% extends "base.html" %}

{% block title %}
  {{ accion }} Categoria {{ super() }}
{% endblock  %}

{% block page_title %}

  <h1 class="text-primary">{{ accion }} Categoria</h1>

{% endblock %}

{% block content %}

    {% if accion == "Consultar" %}
        <form method="GET"> 
        <fieldset disabled>
    {% elif accion == "Crear" %}
        <form action="{{ url_for('referencial.Crear_Categoria') }}" method="POST"> 
        <fieldset enabled>
    {% else %}
        <form action="{{ url_for('referencial.Editar_Categoria', id=categoria.id) }}" method="POST"> 
        <fieldset enabled>
    {% endif %}
            <div class="row my-2">
                <label for="nombre" class="col-form-label">Nombre</label>
                <div class="col">
                    <input type="text" class="form-control" id="nombre" name="nombre" maxlength=50
                    value={% if accion == "Crear" %} "" {% else %} "{{ categoria.nombre }}" {% endif %} required>
                </div>
            </div>
            <div class="row my-2">
                <label for="descripcion" class="col-form-label">Descripción</label>
                <div class="col">
                    <input type="text" class="form-control" id="descripcion" name="descripcion" maxlength=100
                    value={% if accion == "Crear" %} "" {% else %} "{{ categoria.descripcion }}" {% endif %} >
                </div>
            </div>
        </fieldset>

        <footer>
          <div class="d-flex flex-row justify-content-between">
            <div class="p-2">
              <a class="btn btn-primary" href="{{ url_for('referencial.Listar_Categorias') }}" >Volver a la lista</a>
            </div>    
            {% if accion != "Consultar"  %}
              <div class="p-2">
                <button type="Submit" class="btn btn-primary">Validar</button>
              </div>
            {% endif %}        
          </div>
        </footer>

    </form>
       
{% endblock %}

    
      
   
